@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9911 0 0);
  --foreground: oklch(0.2046 0 0);
  --card: oklch(0.9911 0 0);
  --card-foreground: oklch(0.2046 0 0);
  --popover: oklch(0.9911 0 0);
  --popover-foreground: oklch(0.4386 0 0);
  --primary: oklch(66.068% 0.17916 357.923);
  --primary-foreground: oklch(0.2626 0.0147 166.4589);
  --secondary: oklch(0.994 0 0);
  --secondary-foreground: oklch(0.2046 0 0);
  --muted: oklch(0.9461 0 0);
  --muted-foreground: oklch(0.2435 0 0);
  --accent: oklch(0.9461 0 0);
  --accent-foreground: oklch(0.2435 0 0);
  --destructive: oklch(0.5523 0.1927 32.7272);
  --destructive-foreground: oklch(0.9934 0.0032 17.2118);
  --border: oklch(0.9037 0 0);
  --input: oklch(0.9731 0 0);
  --ring: oklch(0.8348 0.1302 160.908);
  --chart-1: oklch(0.8348 0.1302 160.908);
  --chart-2: oklch(0.6231 0.188 259.8145);
  --chart-3: oklch(0.6056 0.2189 292.7172);
  --chart-4: oklch(0.7686 0.1647 70.0804);
  --chart-5: oklch(0.6959 0.1491 162.4796);
  --sidebar: oklch(0.9911 0 0);
  --sidebar-foreground: oklch(0.5452 0 0);
  --sidebar-primary: oklch(0.8348 0.1302 160.908);
  --sidebar-primary-foreground: oklch(0.2626 0.0147 166.4589);
  --sidebar-accent: oklch(0.9461 0 0);
  --sidebar-accent-foreground: oklch(0.2435 0 0);
  --sidebar-border: oklch(0.9037 0 0);
  --sidebar-ring: oklch(0.8348 0.1302 160.908);
  --radius: 0.5rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 2px 4px -1px hsl(0 0% 0% / 0.17);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 4px 6px -1px hsl(0 0% 0% / 0.17);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 8px 10px -1px hsl(0 0% 0% / 0.17);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
  --tracking-normal: 0.025em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1822 0 0);
  --foreground: oklch(0.9288 0.0126 255.5078);
  --card: oklch(0.2046 0 0);
  --card-foreground: oklch(0.9288 0.0126 255.5078);
  --popover: oklch(0.2603 0 0);
  --popover-foreground: oklch(0.7348 0 0);
  --primary: oklch(66.068% 0.17916 357.923);
  --primary-foreground: oklch(0.9213 0.0135 167.1556);
  --secondary: oklch(0.2603 0 0);
  --secondary-foreground: oklch(0.9851 0 0);
  --muted: oklch(0.2393 0 0);
  --muted-foreground: oklch(0.7122 0 0);
  --accent: oklch(0.3132 0 0);
  --accent-foreground: oklch(0.9851 0 0);
  --destructive: oklch(0.3123 0.0852 29.7877);
  --destructive-foreground: oklch(0.9368 0.0045 34.3092);
  --border: oklch(0.2809 0 0);
  --input: oklch(0.2603 0 0);
  --ring: oklch(0.8003 0.1821 151.711);
  --chart-1: oklch(0.8003 0.1821 151.711);
  --chart-2: oklch(0.7137 0.1434 254.624);
  --chart-3: oklch(0.709 0.1592 293.5412);
  --chart-4: oklch(0.8369 0.1644 84.4286);
  --chart-5: oklch(0.7845 0.1325 181.912);
  --sidebar: oklch(0.1822 0 0);
  --sidebar-foreground: oklch(0.6301 0 0);
  --sidebar-primary: oklch(0.4365 0.1044 156.7556);
  --sidebar-primary-foreground: oklch(0.9213 0.0135 167.1556);
  --sidebar-accent: oklch(0.3132 0 0);
  --sidebar-accent-foreground: oklch(0.9851 0 0);
  --sidebar-border: oklch(0.2809 0 0);
  --sidebar-ring: oklch(0.8003 0.1821 151.711);
  --radius: 0.5rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 2px 4px -1px hsl(0 0% 0% / 0.17);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 4px 6px -1px hsl(0 0% 0% / 0.17);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 8px 10px -1px hsl(0 0% 0% / 0.17);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background font-sans text-muted-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif text-foreground;
  }
}

@layer utilities {
  .container {
    @apply mx-auto px-2 max-w-7xl;
  }
}

scrollbar {
  display: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

@keyframes hero-gradient-animation {
  0% {
    --x-0: 85%;
    --s-start-0: 9%;
    --s-end-0: 55%;
    --c-0: hsla(150.8823529411765, 52%, 83%, 1);
    --y-0: 80%;
    --y-1: 24%;
    --s-start-1: 5%;
    --s-end-1: 72%;
    --c-1: hsla(219.99999999999997, 100%, 82%, 1);
    --x-1: 60%;
    --c-2: hsla(297.7941176470588, 100%, 65%, 0.49);
    --s-start-2: 5%;
    --s-end-2: 52%;
    --x-2: 13%;
    --y-2: 82%;
    --y-3: 7%;
    --s-start-3: 13%;
    --s-end-3: 68%;
    --c-3: hsla(182, 72%, 68%, 1);
    --x-3: 24%;
  }

  100% {
    --x-0: 31%;
    --s-start-0: 9%;
    --s-end-0: 55%;
    --c-0: hsla(150.8823529411765, 52%, 83%, 1);
    --y-0: 94%;
    --y-1: 25%;
    --s-start-1: 5%;
    --s-end-1: 72%;
    --c-1: hsla(220, 82%, 95%, 1);
    --x-1: 2%;
    --c-2: hsla(297.7941176470588, 100%, 65%, 0.49);
    --s-start-2: 5%;
    --s-end-2: 52%;
    --x-2: 98%;
    --y-2: 20%;
    --y-3: 92%;
    --s-start-3: 13%;
    --s-end-3: 68%;
    --c-3: hsla(182, 72%, 68%, 1);
    --x-3: 95%;
  }
}

@property --x-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 85%;
}

@property --s-start-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 9%;
}

@property --s-end-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 55%;
}

@property --c-0 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(150.8823529411765, 52%, 83%, 1);
}

@property --y-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 80%;
}

@property --y-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 24%;
}

@property --s-start-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 5%;
}

@property --s-end-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 72%;
}

@property --c-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(219.99999999999997, 100%, 82%, 1);
}

@property --x-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 60%;
}

@property --c-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(297.7941176470588, 100%, 65%, 0.49);
}

@property --s-start-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 5%;
}

@property --s-end-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 52%;
}

@property --x-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 13%;
}

@property --y-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 82%;
}

@property --y-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 7%;
}

@property --s-start-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 13%;
}

@property --s-end-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 68%;
}

@property --c-3 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(182, 72%, 68%, 1);
}

@property --x-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 24%;
}

.light-gradient {
  --x-0: 85%;
  --c-0: hsla(150.8823529411765, 52%, 83%, 1);
  --y-0: 80%;
  --y-1: 24%;
  --c-1: hsla(219.99999999999997, 100%, 82%, 1);
  --x-1: 60%;
  --c-2: hsla(297.7941176470588, 100%, 65%, 0.49);
  --x-2: 13%;
  --y-2: 82%;
  --y-3: 7%;
  --c-3: hsla(182, 72%, 68%, 1);
  --x-3: 24%;
  background-color: hsla(358.0000000000001, 0%, 100%, 1);
  background-image: radial-gradient(
      circle at var(--x-0) var(--y-0),
      var(--c-0) var(--s-start-0),
      transparent var(--s-end-0)
    ),
    radial-gradient(
      circle at var(--x-1) var(--y-1),
      var(--c-1) var(--s-start-1),
      transparent var(--s-end-1)
    ),
    radial-gradient(
      circle at var(--x-2) var(--y-2),
      var(--c-2) var(--s-start-2),
      transparent var(--s-end-2)
    ),
    radial-gradient(
      circle at var(--x-3) var(--y-3),
      var(--c-3) var(--s-start-3),
      transparent var(--s-end-3)
    );
  animation: hero-gradient-animation 10s linear infinite alternate;
  background-blend-mode: normal, normal, normal, normal;
}

@keyframes dark-hero-gradient-animation {
  0% {
    --x-0: 93%;
    --c-0: hsla(212, 0%, 0%, 1);
    --s-start-0: 14.489998991212337%;
    --s-end-0: 72%;
    --y-0: 93%;
    --x-1: 26%;
    --s-start-1: 0%;
    --s-end-1: 45%;
    --y-1: 9%;
    --c-1: hsla(212, 0%, 0%, 1);
    --c-2: hsla(257.14285714285717, 91%, 27%, 0.35);
    --s-start-2: 2.9253667596993065%;
    --s-end-2: 22.388851682060018%;
    --x-2: 15%;
    --y-2: 79%;
    --s-start-3: 3.985353824694249%;
    --s-end-3: 47.580278608924694%;
    --c-3: hsla(212.47058823529412, 100%, 50%, 0.5);
    --y-3: 104%;
    --x-3: 40%;
    --x-4: 0%;
    --y-4: 60%;
    --c-4: hsla(224.44444444444443, 72%, 36%, 1);
    --s-start-4: 2.391200382592061%;
    --s-end-4: 29.307684556768592%;
    --y-5: 37%;
    --x-5: 92%;
    --c-5: hsla(248.30769230769235, 52%, 24%, 1);
    --s-start-5: 2.9253667596993065%;
    --s-end-5: 22.388851682060018%;
    --y-6: 16%;
    --x-6: 101%;
    --c-6: hsla(212.47058823529412, 100%, 50%, 0.19);
    --s-start-6: 13.173642363290591%;
    --s-end-6: 31.747336520355095%;
    --y-7: 13%;
    --c-7: hsla(227.6470588235294, 98%, 53%, 1);
    --x-7: 90%;
    --s-start-7: 1%;
    --s-end-7: 31%;
    --s-start-8: 3.985353824694249%;
    --s-end-8: 13.103042116379756%;
    --x-8: 104%;
    --y-8: 56%;
    --c-8: hsla(166.53061224489795, 71%, 60%, 0.32);
    --y-9: 19%;
    --x-9: 97%;
    --c-9: hsla(219.2079207920792, 83%, 23%, 0.18);
    --s-start-9: 18.597054544690312%;
    --s-end-9: 31%;
  }

  100% {
    --x-0: 7%;
    --c-0: hsla(306, 0%, 0%, 1);
    --s-start-0: 2.391200382592061%;
    --s-end-0: 43.902064173373226%;
    --y-0: 9%;
    --x-1: 96%;
    --s-start-1: 9%;
    --s-end-1: 54.805582404585024%;
    --y-1: 93%;
    --c-1: hsla(306, 0%, 0%, 1);
    --c-2: hsla(166.53061224489795, 72%, 60%, 1);
    --s-start-2: 3%;
    --s-end-2: 26.722813338714598%;
    --x-2: -2%;
    --y-2: 103%;
    --s-start-3: 2.391200382592061%;
    --s-end-3: 32.0689540200964%;
    --c-3: hsla(180, 100%, 50%, 0.26);
    --y-3: 82%;
    --x-3: 33%;
    --x-4: 37%;
    --y-4: 81%;
    --c-4: hsla(212.43243243243245, 88%, 26%, 0.58);
    --s-start-4: 4.40642490323111%;
    --s-end-4: 37.23528104246256%;
    --y-5: 99%;
    --x-5: 54%;
    --c-5: hsla(271.9148936170212, 98%, 53%, 0.31);
    --s-start-5: 3%;
    --s-end-5: 32.537089799783296%;
    --y-6: 43%;
    --x-6: 104%;
    --c-6: hsla(262.82352941176475, 100%, 50%, 0.15);
    --s-start-6: 6%;
    --s-end-6: 42.501105312974815%;
    --y-7: -16%;
    --c-7: hsla(298.60465116279073, 36%, 23%, 1);
    --x-7: 104%;
    --s-start-7: 5%;
    --s-end-7: 13.10107024898374%;
    --s-start-8: 2.391200382592061%;
    --s-end-8: 27.141813016850573%;
    --x-8: 97%;
    --y-8: 30%;
    --c-8: hsla(180, 100%, 50%, 0.11);
    --y-9: 4%;
    --x-9: 78%;
    --c-9: hsla(219.2079207920792, 83%, 23%, 0.59);
    --s-start-9: 5%;
    --s-end-9: 21.32164536610654%;
  }
}

@property --x-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 93%;
}

@property --c-0 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(212, 0%, 0%, 1);
}

@property --s-start-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 14.489998991212337%;
}

@property --s-end-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 72%;
}

@property --y-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 93%;
}

@property --x-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 26%;
}

@property --s-start-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --s-end-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 45%;
}

@property --y-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 9%;
}

@property --c-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(212, 0%, 0%, 1);
}

@property --c-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(257.14285714285717, 91%, 27%, 0.35);
}

@property --s-start-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 2.9253667596993065%;
}

@property --s-end-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 22.388851682060018%;
}

@property --x-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 15%;
}

@property --y-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 79%;
}

@property --s-start-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 3.985353824694249%;
}

@property --s-end-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 47.580278608924694%;
}

@property --c-3 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(212.47058823529412, 100%, 50%, 0.5);
}

@property --y-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 104%;
}

@property --x-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 40%;
}

@property --x-4 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --y-4 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 60%;
}

@property --c-4 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(224.44444444444443, 72%, 36%, 1);
}

@property --s-start-4 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 2.391200382592061%;
}

@property --s-end-4 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 29.307684556768592%;
}

@property --y-5 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 37%;
}

@property --x-5 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 92%;
}

@property --c-5 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(248.30769230769235, 52%, 24%, 1);
}

@property --s-start-5 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 2.9253667596993065%;
}

@property --s-end-5 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 22.388851682060018%;
}

@property --y-6 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 16%;
}

@property --x-6 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 101%;
}

@property --c-6 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(212.47058823529412, 100%, 50%, 0.19);
}

@property --s-start-6 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 13.173642363290591%;
}

@property --s-end-6 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 31.747336520355095%;
}

@property --y-7 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 13%;
}

@property --c-7 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(227.6470588235294, 98%, 53%, 1);
}

@property --x-7 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 90%;
}

@property --s-start-7 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 1%;
}

@property --s-end-7 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 31%;
}

@property --s-start-8 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 3.985353824694249%;
}

@property --s-end-8 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 13.103042116379756%;
}

@property --x-8 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 104%;
}

@property --y-8 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 56%;
}

@property --c-8 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(166.53061224489795, 71%, 60%, 0.32);
}

@property --y-9 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 19%;
}

@property --x-9 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 97%;
}

@property --c-9 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(219.2079207920792, 83%, 23%, 0.18);
}

@property --s-start-9 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 18.597054544690312%;
}

@property --s-end-9 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 31%;
}

.dark-gradient {
  --x-0: 93%;
  --c-0: hsla(212, 0%, 0%, 1);
  --y-0: 93%;
  --x-1: 26%;
  --y-1: 9%;
  --c-1: hsla(212, 0%, 0%, 1);
  --c-2: hsla(257.14285714285717, 91%, 27%, 0.35);
  --x-2: 15%;
  --y-2: 79%;
  --c-3: hsla(212.47058823529412, 100%, 50%, 0.5);
  --y-3: 104%;
  --x-3: 40%;
  --x-4: 0%;
  --y-4: 60%;
  --c-4: hsla(224.44444444444443, 72%, 36%, 1);
  --y-5: 37%;
  --x-5: 92%;
  --c-5: hsla(248.30769230769235, 52%, 24%, 1);
  --y-6: 16%;
  --x-6: 101%;
  --c-6: hsla(212.47058823529412, 100%, 50%, 0.19);
  --y-7: 13%;
  --c-7: hsla(227.6470588235294, 98%, 53%, 1);
  --x-7: 90%;
  --x-8: 104%;
  --y-8: 56%;
  --c-8: hsla(166.53061224489795, 71%, 60%, 0.32);
  --y-9: 19%;
  --x-9: 97%;
  --c-9: hsla(219.2079207920792, 83%, 23%, 0.18);
  background-color: hsla(305, 0%, 0%, 1);
  background-image: radial-gradient(
      circle at var(--x-0) var(--y-0),
      var(--c-0) var(--s-start-0),
      transparent var(--s-end-0)
    ),
    radial-gradient(
      circle at var(--x-1) var(--y-1),
      var(--c-1) var(--s-start-1),
      transparent var(--s-end-1)
    ),
    radial-gradient(
      circle at var(--x-2) var(--y-2),
      var(--c-2) var(--s-start-2),
      transparent var(--s-end-2)
    ),
    radial-gradient(
      circle at var(--x-3) var(--y-3),
      var(--c-3) var(--s-start-3),
      transparent var(--s-end-3)
    ),
    radial-gradient(
      circle at var(--x-4) var(--y-4),
      var(--c-4) var(--s-start-4),
      transparent var(--s-end-4)
    ),
    radial-gradient(
      circle at var(--x-5) var(--y-5),
      var(--c-5) var(--s-start-5),
      transparent var(--s-end-5)
    ),
    radial-gradient(
      circle at var(--x-6) var(--y-6),
      var(--c-6) var(--s-start-6),
      transparent var(--s-end-6)
    ),
    radial-gradient(
      circle at var(--x-7) var(--y-7),
      var(--c-7) var(--s-start-7),
      transparent var(--s-end-7)
    ),
    radial-gradient(
      circle at var(--x-8) var(--y-8),
      var(--c-8) var(--s-start-8),
      transparent var(--s-end-8)
    ),
    radial-gradient(
      circle at var(--x-9) var(--y-9),
      var(--c-9) var(--s-start-9),
      transparent var(--s-end-9)
    );
  animation: dark-hero-gradient-animation 10s linear infinite alternate;
  background-blend-mode: normal, normal, normal, normal, normal, normal, normal,
    normal, normal, normal;
}

@keyframes wave {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-20deg);
  }
}
.animate-wave {
  animation: wave 2s ease-in-out infinite;
}
